<div id="favorite_btn_<%= book.id %>">
  <% if book.favorited_by?(Current.user)%>
    <%=form_with model:book, url:book_favorite_path(book),method: :delete do |f|%>
      <%=f.submit "いいね解除"%>
    <%end%>
  <% else %>
    <%=form_with model:book, url:book_favorite_path(book),method: :post do |f|%>
      <%=f.submit "いいね"%>
    <%end%>
  <% end %>
</div>
