<h1>Follower Users</h1>
<%if @follower_list.present?%>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @follower_list.each do |f| %>
        <tr>
          <td><%=image_tag f.get_profile_image(50,50)%></td>
          <td><%=f.name%></td>
          <td>フォロー数<%=f.followings.count%></td>
          <td>フォロワー数<%=f.followers.count%></td>
          <td><%= link_to "Show",user_path(f.id)%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
<%else%>
  <p>ユーザーがいません</p>
<%end%>