<h2 id="room" data-room="<%= @room.id %>" data-user="<%= Current.user.id %>"><%= @user.name %> さんとのチャット</h2>

<div id="chat-text" style="width: 400px;">
  <% @chats.each do |chat| %>
    <% if chat.user_id == Current.user.id %>
      <%= render "chats/chat", chat: chat %>
    <% else %>
      <div class="left-container d-flex">
        <%= image_tag @user.get_profile_image(30,30), style: 'border-radius: 50%' %>
        <p class=ml-1 style="text-align: left;"><span style="background-color: #F5F5DC; padding: 5px; border-radius: 10px;"><%= chat.message %></span></p>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "chats/form" , chat:@chat%>