<main>
  <div class="container px-5">
    <div class="row">
      <%= render "shared/tmp",new_book: @new_book,user: @user%>
      <%# <画面右側> %>
      <div class="col-md-8 offset-md-1 mt-3">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>     
            <tr>
              <td class="col-md-2">
                <%= link_to user_path(@user) do %>
                  <%= image_tag @book.user.get_profile_image(80, 80) %>
                  <br>
                  <%= @book.user.name%>
                <% end %>
              </td>
              <td class="col-md-3"><%=link_to @book.title,book_path(@book)%></td>
              <td class="col-md-6"><%= @book.body%></td>
              <td class="col-md-1 border-none">
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</main>