<main>
  <div class="container px-5">
    <div class="row">
      <%= render "shared/tmp",new_book: @new_book,user: @user%>
      <%# <画面右側> %>
      <div class="col-md-8 offset-md-1 mt-3">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>     
            <tr>
              <td class="col-md-2">
                <%= link_to user_path(@user) do %>
                  <%= image_tag @book.user.get_profile_image(50, 50) %>
                  <br>
                  <%= @book.user.name%>
                <% end %>
              </td>
              <td class="col-md-2"><%=link_to @book.title,book_path(@book)%></td>
              <td class="col-md-2"><%= @book.body%></td>
              <% if @book.favorited_by?(Current.user)%>
                <td class="col-md-2">
                  <%= link_to book_favorite_path(@book,source:"show"),data: {turbo_method: :delete},class:"text-decoration-none" do %>
                    <span class="text-danger">♥</span>
                    <%= @book.favorites.count%>
                  <%end%>
                </td>
                
              <%else%>
                <td class="col-md-2">
                  <%= link_to book_favorite_path(@book,source:"show"),data: {turbo_method: "post"},class:"text-decoration-none" do%>
                    <span class="text-primary">♥</span>
                    <%= @book.favorites.count %>
                  <%end%>
                </td>
              <%end%>
              <td class="col-md-3">
                <p>コメント数：<%= @book.book_comments.count %></p>
              </td>
              <%if @user == Current.user%>
                <td class="col-md-1">
                  <%=link_to "Edit",edit_book_path(@book.id),class:"btn btn-success"%>
                </td>
                <td class="col-md-1">
                  <%= link_to book_path(@book.id), data: { turbo_method: :delete,turbo_confirm: "本当に削除しますか？"} do %>
                    <p class="btn btn-danger">Destroy</p>
                  <% end %>
                </td>
              <%end%>
              <td class="col-md-1 border-none"></td>
            </tr>
          </tbody>
        </table>

        
        <% @book.book_comments.each do |critic|%>
            <%=image_tag critic.user.get_profile_image(50,50)%>
            <%= critic.comment%>
            <%if critic.user == Current.user %>
              <%= link_to book_book_comment_path(critic.book,critic), data: { turbo_method: :delete} do %>
                <p class="btn btn-danger">Destroy</p>
              <% end %>
            <%end%>
            <br>
        <%end%>

        <div class="input-area-comment">
          <%= form_with model:[@book,@book_comment] do |f| %>
            <%= f.text_area :comment, rows: '4',cols:"85",class:"px-1" %>
            <br>
            <%= f.submit "送信" %>
          <% end %>
        </div>
        
      </div>
  </div>
</main>