<main>
  <div class="container px-5">
    <div class="row">
      <%= render "shared/tmp",new_book: @new_book,user: @user%>
      <%# <画面右側> %>
      <div class="col-md-8 offset-md-1 mt-3">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>     
            <tr>
              <td class="col-md-2">
                <%= link_to user_path(@user) do %>
                  <%= image_tag @book.user.get_profile_image(50, 50) %>
                  <br>
                  <%= @book.user.name%>
                <% end %>
              </td>
              <td class="col-md-2"><%=link_to @book.title,book_path(@book)%></td>
              <td class="col-md-2"><%= @book.body%></td>
              <td>
                  <%= render "favorites/favorite_btn" ,book:@book%>
              </td>
              <td class="col-md-3">
                <p>コメント数：<%= @book.book_comments.count %></p>
              </td>
              <td class="col-md-3">
                <p>閲覧数：<%= @book.view_counts.pick(:view_count) %></p>
              </td>
              <%if @user == Current.user%>
                <td class="col-md-1">
                  <%=link_to "Edit",edit_book_path(@book.id),class:"btn btn-success"%>
                </td>
                <td class="col-md-1">
                  <%= link_to book_path(@book.id), data: { turbo_method: :delete,turbo_confirm: "本当に削除しますか？"} do %>
                    <p class="btn btn-danger">Destroy</p>
                  <% end %>
                </td>
              <%end%>
              <td class="col-md-1 border-none"></td>
            </tr>
          </tbody>
        </table>

        <%= render "book_comments/book_comments_list" ,book:@book%>
        

        <%= render "book_comments/form", book:@book ,book_comment:@book_comment %>
        
      </div>
  </div>
</main>